.Header{
  height: 55px;
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 99;
  background-color: #ffffff ;
}

.Header__Menu{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.Header__Menu-Menu{
	display: flex;
  box-sizing: border-box;
  padding-right: 400px;
}

.Header__Menu-MenuButton{
	width: 80px;
  height: 17px;
	display: block;
  text-align: center;
	font-size: 15px;
  font-weight: bold;
	padding: 20px 5px;
}

.Header__Menu-Share{
  width: 120px;
  height: 55px;
	align-items: center;
	display: flex;
	justify-content: space-between;   
	background-color: white;
}

.Header__Menu-Icon{
	display: block;
	text-align: center;
}

.Header__Menu-Overlay{
 /* opacity: 1; */
/*  transition: opacity .5s ease-in-out; */
}

.Header__Menu-Overlay:hover {
  font-weight: 700; /*700 Bold*/
  opacity: 0.5;
}

